h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 80px;
  text-align: center;
  color: #393939;
}


h5 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 130px;
  text-align: center;
  color: #393939;
}

.email {
  display:flex;
  flex-direction:column;
  margin: 15px;
}