.navbar {
    width: 1600px;
    height: 50px;
    background: #fbdde6;
}


.nav-links {
   width: 385px;
   margin: 0px 25rem;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight:500;

}

    
  
 
  





